# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# IDE files
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Logs
logs/
*.log

# Project specific
.vector_cache/
temp/

.python-version

# Ignore project.toml locally but keep tracking it in the repository
/project.toml
pyproject_local.toml

/certs